<div class="row">
  <div class="col-xs-12">
    <h2>{{title}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
      <app-student-form (addStudentEvent)="addNewStudent($event)"></app-student-form>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Student Name</th>
          <th>Late (Year Count)</th>
          <th>Absent (Year Count)</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let student of students">
        <tr [class]="student.getStatusClass()">
          <td>{{student.name}}</td>
          <td>{{student.lateCount}}<i *ngIf="student.lateStamps.length > 0" (click)="student.toggleLateExpanded()" class="expandable-info fa fa-plus-square-o fa-lg" aria-hidden="true"></i></td>
          <td>{{student.absentCount}}<i *ngIf="student.absentStamps.length > 0" (click)="student.toggleAbsentExpanded()" class="expandable-info fa fa-plus-square-o fa-lg" aria-hidden="true"></i></td>
          <td>
            <button class="btn btn-success {{ student.getDisabledClass() }}" (click)="student.disable() || student.setHere()">Here</button>
            <button class="btn btn-warning {{ student.getDisabledClass() }}" (click)="student.disable() || student.setLate()">Late</button>
            <button class="btn btn-danger {{ student.getDisabledClass() }}" (click)="student.disable() || student.setAbsent()">Absent</button>
            <button class="btn btn-info" (click)="student.setUnchecked()">Reset</button>
          </td>
        </tr>
        <tr *ngIf="student.lateExpanded">
          <td></td>
          <td><strong>Late Stamps</strong></td>
          <td colspan="2">
            <ul *ngFor="let ls of student.lateStamps">
              <li>{{ls}}</li>
            </ul>
          </td>
        </tr>
        <tr *ngIf="student.absentExpanded">
            <td></td>
          <td><strong>Absent Stamps</strong></td>
          <td colspan="3">
            <ul *ngFor="let abs of student.absentStamps">
              <li>{{abs}}</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
